= form_tag '', :class => 'step1-form', :method => 'post' do
  %hgroup
    %h1 NTU Voting
  = field_set_tag do
    .input
      .label
        Password
      .passwords
        = text_field_tag :password1, :id => :password1, :maxlength => 4, :autocomplete => '', :autofocus => ''
        %span -
        = text_field_tag :password2, :id => :password2, :maxlength => 3, :autocomplete => ''
        %span -
        = text_field_tag :password3, :id => :password3, :maxlength => 3, :autocomplete => ''
  = field_set_tag(:class => 'buttons') do
    = submit_tag "Proceed ›", :class => "button"
